# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
# For Joe editor lovers
DEADJOE
# For kdevelop
*.pcs
*.kdevses
# For SM users
.smhist
# Executables
*.x
# Other stuff
Doxyfile
# CMake build system directories/files
/Makefile
/optimized
/debug
/build
/.cpackignore
/.version
/.version.fn
/Debug
/Release
